@import "../../variables";

//@import (less) "../../lib/amcharts/plugins/export/export.css";

.comparator {
    position: absolute;
    top: @navbar-nav-height + @global-margin;
    bottom: @global-margin;
    left: @selector-width + @global-margin;
    right: @global-margin;
    border: 1px solid gray;
    overflow: hidden;
    display: none;

    &.active {
        display: block;
    }
}

.comparator-views {
    position: relative;
    width: 100%;
    height: 100%;
}

.comparator-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    display: none;

    &.comparator-view-margin {
        top: @global-margin;
        bottom: @global-margin;
        left: @global-margin;
        right: @global-margin;
    }

    &.active {
        display: block;
    }
}

.comparator-chart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.comparator-table-container {
    position: absolute;
    top: 2 * @global-margin + @button-height;
    bottom: @global-margin;
    left: @global-margin;
    right: @global-margin;
    overflow: hidden;
}

.comparator-table-header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.comparator-table-header {
    > thead {
        > tr {
            > th {
                height: 20px;
            }
        }
    }
}

.comparator-table-body-container {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.comparator-table-body {
    margin: 0;

    > tbody {
        > tr {
            > td {
                position: relative;
            }
        }
    }
}

.comparator-table-highlighter {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border-radius: 2px;
    background-color: transparent;
    display: none;

    .comparator-table-body td:hover & {
        display: block;
    }
}

.comparator-table-time {
    width: 200px;
    min-width: 200px;
    text-align: center;
    white-space: nowrap;
}

.comparator-table-value {
    text-align: center;
}

.comparator-view-buttons {
    position: absolute;
    top: @global-margin;
    right: @global-margin;
}
