@import "../../variables";

.selector {
    position: absolute;
    top: @navbar-nav-height + @global-margin;
    bottom: @global-margin;
    left: 0;
    width: @selector-width;
    padding: 0 @global-margin;
    border-right: 1px solid gray;
    overflow: auto;
}

.selector-param-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.selector-param-list-item {
    position: relative;
    margin-bottom: @global-margin;
}

.selector-param-list-item-table {
    > tbody {
        > tr {
            > td {
                margin: 0;
                padding: 0;

                &:first-child {
                    font-weight: bold;
                    padding-right: @global-margin;
                }
            }
        }
    }
}

.selector-param-list-item-color {
    position: absolute;
    height: 5px;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.selector-param-list-item-remove-button {
    position: absolute;
    top: @global-margin;
    right: @global-margin;
}

.selector-add-param-close {
    position: absolute;
    top: @global-margin;
    right: @global-margin;
}
