@import "uikit/uikit";

html,
body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    > div {
        position: relative;
        width: 100%;
        height: 100%;
    }
}
